<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Invoicer</title>
		<link rel="stylesheet" href="/css/modern.css" />
		<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
	</head>
	<body>
		<header class="header">
			<section> 
				<h1 class="logo">Invoicer</h1>
			</section>
			<section>
				<partial name="_LoginPartial" />
			</section>
			</div>
		</header>

		<div class="layout">

			<aside class="sidebar">
				<partial name = "_Navigation"/>
			</aside>
			<div class="sidebar-toggle-bar" _="on click toggle .sidebar-hidden on .sidebar">
				<button class="open-button">☰</button>
			</div>

			<main class="main">
				<div class="flex-container">
					@RenderBody()
				</div>
			</main>
		</div>

		<footer class="footer">
			&copy; 2023 - Invoicer.Web - <a href="#">Privacy</a>
		</footer>
		<script src="https://unpkg.com/lucide@latest"></script>
		<script>
			lucide.createIcons();
		</script>
		<script>
		  document.body.addEventListener('htmx:afterSwap', function(event) {
			// Re-render Lucide icons in newly swapped content
			lucide.createIcons();
		  });
</script>
		@RenderSection("scripts", false)
	</body>
</html>
