<nav>
	<a asp-page="/Index">Overview</a>
	<a asp-page="/Hours/Index">Hours Logged</a>
	<a asp-page="/NotInvoicedHours/Index">Not Invoiced Hours</a>
	<a asp-page="/Invoices/Index">Invoices</a>
	<a asp-page="/Clients/Index">Clients</a>
	<a asp-page="/MyAccount/Index">Accounts</a>
	<a asp-page="/Settings/Index">Settings</a>
</nav>
