@model Invoicer.Web.Pages.IndexViewModel

<table class="table">
<thead>
	<th>Client</th>
	<th>Description</th>
	<th>Total</th>
	<th></th>
</thead>
<tbody>
	@foreach (var workItem in Model.OutstandingWorkItems)
	{
	<tr>
		<td>@workItem.Client.Name</td>
		<td>@workItem.Description</td>
		<td>@workItem.Total().ToString("0.00")</td>
		<td><a class="btn" asp-page="/Invoices/Create" aria-label="Create new invoice" title="Create new invoice"><i data-lucide="file-plus-2"></i></a></td>
	</tr>
	}
</tbody>
</table>
