@page
@model Invoicer.Web.Pages.Clients.IndexModel 
@{
}

<form method="get">
	<button class="btn btn-primary" asp-page="Create"><i data-lucide="user-plus"></i>New Client</button>
</form>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Company Name</th>
			<th>Address</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<partial name="_ClientRowsPartial" model="Model"/>
	</tbody>
</table>
