@page
@model Invoicer.Web.Pages.Clients.IndexModel 
@{
}

<form method="get" class="inline-button-bar">
	<div class="form-group inline">
		<button class="btn btn-primary" asp-page="Create"><i data-lucide="user-plus"></i>New Client</button>
	</div>
		<partial name="_ClientSearchPartial" model="Model"/>
</form>


<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Company Name</th>
			<th>Client Code</th>
			<th>Address</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<partial name="_ClientRowsPartial" model="Model"/>
	</tbody>
</table>
