@page
@using Humanizer
@model Invoicer.Web.Pages.Invoices.IndexViewModel
@{
}

<section>
	<form class="inline-button-bar">
		<div class="form-group inline">
			<button class="btn btn-primary" asp-page="/NotInvoicedHours/Index"><i data-lucide="file-plus-2"></i>Create Invoice</button>
		</div>
		<div class="form-group inline">
			<partial name="_InvoiceSearchPartial" model="Model"/>
		</div>
	</form>
</section>

<table class="table"> 
    <thead>
        <tr>
            <th>Invoice Code</th>
            <th>Total</th>
            <th>Client</th>
            <th>Created At</th>
            <th>Invoice Date</th>
            <th>Status</th>
            <th>Account</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="_InvoiceRowsPartial" model="Model"/>
    </tbody>
</table>
