@page
@model Invoicer.Web.Pages.Settings.Index
@{
}


<form class="form-container" method="post">
	<h2>Settings</h2>
	<div class="form-group">
		<label for="Model_AddTax">Add Tax</label>
		@Html.CheckBoxFor(model => model.Model.AddTax)
		<span asp-validation-for="Model.AddTax" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label for="Model_TaxRate">Tax Rate (%)</label>
		<input class="form-control" type="number" asp-for="@Model.Model.TaxRate" />
		<span asp-validation-for="Model.AddTax" class="text-danger"></span>
	</div>

	<div class="form-group">
		<button class="btn btn-primary" type="submit"><i data-lucide="save"></i></button>
		<a class="btn" asp-page="/Index">Back</a>
	</div>
	@Html.AntiForgeryToken()
</form>
