@page
@model Invoicer.Web.Pages.NotInvoicedHours.IndexModel
@{
    ViewData["Title"] = "Outstanding Hours";
}

<form method="post" asp-page-handler="CreateInvoice" id="createInvoiceForm">
    <div class="form-group">
        <select class="form-select" id="SelectedAccountId" name="SelectedAccountId" required>
            <option value="">-- Select Account --</option>
            @foreach (var account in Model.Accounts)
            {
                <option value="@account.Id">@account.Label()</option>
            }
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="createInvoiceBtn">
            <i data-lucide="file-plus-2"></i>
            Create Invoice from Selected
        </button>
    </div>

    <div class="form-group">
        <partial name="_NotInvoicedHoursSearch" />
    </div>

    <div>
        @Model.SelectedClient.ClientName
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>Client</th>
                <th>Date</th>
                <th>Description</th>
                <th>Hours</th>
                <th>Rate</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <partial name="_NotInvoicedHoursRows" />
        </tbody>
    </table>
</form>

@section Scripts {
    <script>
        lucide.createIcons();
    </script>
}