@page
@model Invoicer.Web.Pages.AddWorkModel
@{
}

<h2>Add</h2>
<form>
  <input type="date" id="date" />
  <input type="text" id="hours" />
  <input type="text" id="description" />
  <input type="text" id="rate" />
  <!-- select from creditors -->
  <select>
  </select>
</form>
