@page
@using Invoicer.Web.Pages
@model IndexModel
@{
ViewData["Title"] = "Home page";
}
<div class="column">
	<h2>Step 1. Record Hours</h2>
	<partial name="_HoursCreate" model="Model.IndexViewModel">
</div>
<div class="column">
	<h2>Step 2. Create an Invoice</h2>
	<form method="post" asp-page="/NotInvoicedHours/Index" asp-page-handler="CreateInvoice" id="createInvoiceForm">
		<div class="form-group">
			<select class="form-select" id="SelectedAccountId" name="SelectedAccountId" required>
				<option value="">-- Select Account --</option>
				@foreach (var account in Model.IndexViewModel.NewInvoice.Accounts)
				{
					<option value="@account.Id">@account.Label()</option>
				}
			</select>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary" id="createInvoiceBtn">
				<i data-lucide="file-plus-2"></i>
				Create Invoice from Selected
			</button>
		</div>

		<div class="form-group">
			<partial name="_OutstandingHoursSearch" model="Model"/>
		</div>

		<partial name="_OutstandingHoursTable" model="Model"/>
	</form>
</div>
<div class="column">
	<h2>Step 3. Print and Track</h2>
	<partial name="_InvoicesTable" model="Model.IndexViewModel"> 
</div>
