@page
@using Invoicer.Web.Pages
@model IndexModel
@{
ViewData["Title"] = "Home page";
}


<div class="flex-container">
	<div class="column">
		<partial name="_WorkItemsCreate" model="Model.IndexViewModel">
	</div>
	<div class="column">
		<partial name="_WorkItemsTable" model="Model.IndexViewModel">
	</div>
	<div class="column">
		<partial name="_InvoicesTable" model="Model.IndexViewModel"> 
	</div>
</div>
