@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}


<a class="btn btn-secondary" asp-page="Clients/Index">Clients</a>
<a class="btn btn-secondary" asp-page="Work/Create">Create Work</a>

<form class="form-inline">
  <div class="input-group">
    <input type="text" class="form-control" />
    <input type="submit" value="Search" class="btn btn-primary" />
  </div>
</form>

<div class="table" id="table">
 
</div>
