@page
@using Invoicer.Web.Pages.Invoices
@model IndexModel
@{
ViewData["Title"] = "Home page";
}



<a class="btn btn-primary" asp-page="/WorkItems/Create">Record Work</a>

<partial name="_InvoicesTable" model="Model.InvoicesIndexModel" /> 
<partial name="_WorkItemsTable" model="Model.InvoicesIndexModel" />
 
</div>
