@page
@using Humanizer;
@model IndexModel
@{
ViewData["Title"] = "Home page";
}



<form class="inline-button-bar">
	<div class="form-group inline">
	<button class="btn btn-primary" asp-page="/Hours/Create" title="Log Hours" aria-label="Log Hours">
		<i data-lucide="clock"></i>
		<span>Log Hours</span>
	</button>
	</div>
	<div class="form-group inline">
	<button class="btn btn-primary" asp-page="/Invoices/Create" aria-label="Create new invoice" title="Create new invoice"><i data-lucide="file-plus-2"></i>
		<span>Create Invoice</span>
	</button>
	</div>
	<div class="form-group inline">
		<partial name="_HoursSearch" model="Model"/>
	</div>
</form>
<table class="table" id="table">
	<thead>
		<th>Client</th>
		<th>Date</th>
		<th>Description</th>
		<th>Hours</th>
		<th>Rate</th>
		<th>Amount</th>
		<th></th>
	</thead> 
	<tbody>
		<partial name="_HoursRows" model="Model"/>
	</tbody>
</table>
